 body{
 background: rgb(34,193,195);
background: rgb(230,33,33);
background: radial-gradient(circle, rgba(230,33,33,1) 0%, rgba(176,181,186,1) 100%);
  min-height: 100vh;
  
}
.form-control{
  margin-bottom: 15px;
}
.container_xlsx {
 
  border: none;
  cursor: pointer;
  font-size : 16px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
} 
h5{
  padding-right: 0;
    display: flex;
  margin: auto;
  word-spacing: 5px;
/* letter-spacing: 5px; */
    padding-left: 100px;
    font-weight: 800;
    color: crimson;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
